body {
    padding: 120px;
    text-align: center;
    background: #54dabf;
    color: white;
    font-size: 30px;
  }
#title {
    color: rgb(247, 209, 160);
    background-color: green;
    margin: 20PX;
}
#csscheckbox, #htmlcheckbox {
    background-color: rgb(173, 76, 125);
}
#cssdescription, #htmldescription {
    color: rgb(141, 24, 165);
    font-size: 22px;
}
    
main {
    position: center;
}